div#wrap {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding:20px 10px;
	vertical-align:middle;
}

div#button_list {
	text-align: center;
	vertical-align:middle;
}

.wf-active body {
 font-family: 'NanumGothic';
}

div#reply_list {
}